* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px 0px 200px;
  background-color: transparent;
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px 0px 200px;
  background-color: transparent;
}

.logo img {
  max-width: 50px;
}

.menu ul {
  display: flex;
  list-style: none;
  color: #fff;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.logo-2 {
  display: flex;
}

.logo-2 p {
  font-size: large;
  padding: 10px;
}

.los-text {
  color: rgb(65, 14, 14);
}

.mout-text {
  color: #414f6b;
}

.oltext {
  margin-left: 50px;
  font-size: medium;
  margin-top: -16px;
}

.menu2 a {
  text-decoration: none;
  color: #414f6b;
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;

}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
}

.home {
  background-image: url("./assets/photo1.jpg");
  background-size: cover;
  height: 100vh;
}

.about {
  background-image: url("./assets/photo-2.jpg");
  background-size: cover;
  height: 100vh;
  padding: 60px 0px 0px 300px;
}

.contact {
  background-image: url("./assets/photo5.jpg");
  background-size: cover;
  height: 100vh;
  padding: 40px 0 0 0;
}

.climb-text-short {
  font-size: 1.5em;
  color: grey;
  margin-bottom: 60px;
}

.la-text {
  position: relative;
  text-align: center;
}

.custom-header {
  font-size: 80px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  padding-top: 100px;
}

.first-line {
  color: rgb(81, 15, 15);
}

.second-line {
  color: #414f6b;
  position: relative;
  top: -20px;
  z-index: -1;
}

.custom-header span {
  display: block;
}

.about strong {
  font-size: 100px;
  color: grey;
}

.about p {
  margin: 0;
}

.about small {
  font-size: 14px;
}

.contact strong {
  font-size: 100px;
  color: grey;
  padding: 60px 0px 0px 300px;
}

.contact p {
  margin: 0;
}

.contact small {
  font-size: 14px;
}

.big-bold {
  font-size: 28px;
  font-weight: bold;
}

.dot {
  font-size: 24px;
  vertical-align: middle;
}

.smaller {
  font-size: 18px;
  vertical-align: top;
}

.carousel-section {
  position: relative;
  background-color: #414f6b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

.carousel-wrapper {
  overflow: hidden;
}

.image-container {
  display: flex;
  transition: transform 0.5s ease;
}

.image-container img {
  max-width: 220px;
  max-height: 230px;
  margin: 0 10px;
  flex: 1 0 auto;
}

.image-container {
  width: calc(220px * 4 + 40px * 3);
}

.carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #f8f9fa;
}
.tabs {
  background-color: #414f6b;
  overflow: hidden;
  padding: 0px 0px 0px 300px;
}

.tablinks {
  background-color: #414f6b;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tablinks.active {
  background-color: gray;
  color: #414f6b;
}

.tabcontent {
  display: none;
  padding: 20px;
}

.tabcontent.active {
  display: block;
}

.schedule-box {
  width: 300px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 40px 40px 40px 288px;
  border-radius: 1px;
}

.schedule-header {
  text-align: center;
  margin-bottom: 15px;
}

.schedule-text {
  color: #414f6b;
  font-weight: bold;
  font-size: x-large;
  text-align: start;
}

.schedule-content {
  display: flex;
  flex-direction: column;
}

.schedule-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.schedule-date {
  color: #000;
  margin: 0px 0px 10px 0px;
  padding: 0px 25px 0px 0px;
}

.schedule-details {
  display: flex;
  flex-direction: column;
}

.schedule-name p {
  margin: 0;
}

.random-strings p {
  margin: 5px 0;
}

.schedule-info {
  display: flex;
  flex-direction: column;
}

.schedule-entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.schedule-date {
  color: #000;
  margin-right: 10px;
}

.schedule-details {
  display: flex;
  flex-direction: column;
}

.schedule-name p {
  margin: 0;
}

.site-footer {
  position: absolute;
  width: 100%;
  background-color: #414f6b;
  color: white;
  padding: 0px 240px 0px 240px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.left-content {
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.footer-text {
  margin: 0;
  font-size: 20px;
}

.right-content {
  text-align: right;
}

.copyright-text {
  margin: 0;
  font-size: 14px;
}

.cli{
    display: flex;
    flex-direction: column;
    margin-left: 530px;
    margin-top: -50px;
    margin-bottom: 20px;
}

@font-face {
  font-family: 'Oswald ';
  src: url('./fonts/Oswald-VariableFont_wght.ttf') format('tff'),
}
